---
import type { CollectionEntry } from "astro:content";

import * as styles from "./ProjectCard.css";

export type Props = {
  data: CollectionEntry<"projects">["data"];
  slug: CollectionEntry<"projects">["slug"];
};

const { data, slug } = Astro.props;
const { title, image } = data;
---

<a class={styles.container} href={`/project/${slug}`}>
  <img class={styles.image} src={image} alt={`${title} logo`} />
  <div class={styles.infoContainer}>
    <h4>{title}</h4>
  </div>
</a>
