---
import type { CollectionEntry } from "astro:content";
import { Icon } from "astro-icon";

import Layout from "../../layouts/Layout.astro";
import { sprinkles } from "../../styles/sprinkles.css";
import { TECH_INFO } from "../../utils/tech";

import * as styles from "./Project.css";

export type Props = {
  data: CollectionEntry<"projects">["data"];
};

const { data } = Astro.props;
---

<Layout title={`Chris | ${data.title}`}>
  <div class={styles.topSectionContainer}>
    <img
      src={data.image}
      alt={data.title}
      class={styles.image}
      width={styles.IMAGE_SIZE}
      height={styles.IMAGE_SIZE}
    />

    <div class={sprinkles({ minHeight: "3x", minWidth: "4x" })}></div>

    <div class={styles.contentContainer}>
      <a href={data.link} class={styles.titleLink}>
        <h1>{data.title}</h1>
      </a>

      {(data.gitHub || data.figma) ? (
        <>
          <div class={sprinkles({ minHeight: "3x" })}></div>
          <div class={styles.iconContainer}>
            {data.gitHub ? (
              <a href={data.gitHub} class={styles.iconLink}>
                <Icon name="mdi:github" size={32} />
              </a>
            ) : null}
            {data.figma ? (
              <a href={data.figma} class={styles.iconLink}>
                <Icon name="simple-icons:figma" size={32} />
              </a>
            ) : null}
          </div>
        </>
      ) : null}

      <div class={sprinkles({ minHeight: "2x" })}></div>

      <!-- Outcomes -->
      <ul>
        {data.outcomes.map((outcome) => (
          <li>{outcome}</li>
        ))}
      </ul>

      <div class={sprinkles({ minHeight: "3x" })}></div>

      <!-- Tech Stack -->
      <div class={styles.iconContainer}>
        {
          data.tech.map((tech) => (
            <a href={TECH_INFO[tech].link} class={styles.iconLink}>
              <Icon name={TECH_INFO[tech].icon} size={32} />
            </a>
          ))
        }
      </div>
    </div>
  </div>
  <div class={sprinkles({ minHeight: "3x" })}></div>
  <slot />
</Layout>
