---
import { Icon } from "astro-icon";
import Layout from "../../layouts/Layout.astro";

import { sprinkles } from "../../styles/sprinkles.css";

import * as styles from "./Landing.css";
---

<Layout title="Chris Krogh">
  <div class={styles.container}>
    <div class={styles.heroContainer}>
      <!-- Profile Pic -->
      <img
        class={styles.profilePicture}
        src="/assets/pro_pic.png"
        width={styles.CONTENT_SIZE}
        height={styles.CONTENT_SIZE}
        alt="Chris Krogh"
      />

      <div class={sprinkles({ minHeight: "3x", minWidth: "4x" })}></div>

      <div>
        <!-- Intro -->
        <h1 class={styles.titleText}>Hi there!</h1>
        <div class={sprinkles({ minHeight: "3x" })}></div>
        <p class={styles.descriptionText}>
          My name is Chris and I like building cool things.
        </p>

        <div class={sprinkles({ minHeight: "3x" })}></div>

        <!-- Contact Info -->
        <div class={styles.contactContainer}>
          <a href="https://twitter.com/chriskrogh_" aria-label="Twitter">
            <Icon name="mdi:twitter" class={styles.icon} />
          </a>
          <div class={sprinkles({ width: "2x" })}></div>
          <a
            href="https://www.linkedin.com/in/christopherkrogh/"
            aria-label="LinkedIn"
          >
            <Icon name="mdi:linkedin" class={styles.icon} />
          </a>
          <div class={sprinkles({ width: "2x" })}></div>
          <a href="https://github.com/chriskrogh" aria-label="GitHub">
            <Icon name="mdi:github" class={styles.icon} />
          </a>
          <div class={sprinkles({ width: "2x" })}></div>
          <a href="mailto:chris.krogh@outlook.com" aria-label="Email">
            <Icon name="mdi:email" class={styles.icon} />
          </a>
          <div class={sprinkles({ width: "2x" })}></div>
          <a href="https://vsco.co/chriskrogh-/gallery" aria-label="VSCO">
            <Icon name="simple-icons:vsco" class={styles.icon} />
          </a>
        </div>

        <div class={sprinkles({ minHeight: { mobile: "5x", tablet: "3x" } })}>
        </div>

        <!-- Work -->
        <div class={styles.workWrapper}>
          <a class={styles.linkText} href="/work">
            <p>What I'm working on</p>
          </a>
        </div>
      </div>
    </div>

    <div class={sprinkles({ minHeight: "5x" })}></div>

    <!-- Music -->
    <p>Currently on repeat</p>
    <div class={sprinkles({ minHeight: "2x" })}></div>
    <div class={styles.spotifyCard}>
      <iframe
        title="Spotify"
        style="border-radius:12px"
        src="https://open.spotify.com/embed/playlist/7IH26z52TBOkQY4XDx66KI?utm_source=generator&theme=0"
        width={styles.CONTENT_SIZE}
        height="80"
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
        loading="lazy"></iframe>
    </div>
  </div>
</Layout>
