---
import { sprinkles } from "../styles/sprinkles.css";

import * as styles from "./Layout.css";

export type Props = {
  title: string;
  contentPadding?: boolean;
};

const { title, contentPadding } = Astro.props;
const contentContainerStyles =
  contentPadding ?? true ? styles.contentContainer : "";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Hi! I'm Christopher Krogh and I'm a Software Engineer at Faire. Most of my engineering experience is in the web ecosystem, but I'm always interested in learning to build new things."
    />
    <title>{title}</title>
  </head>
  <script
    type="text/partytown"
    src="https://www.googletagmanager.com/gtag/js?id=G-HLZV2H5RD1"
  ></script>
  <script type="text/partytown">
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());
    gtag("config", "G-HLZV2H5RD1");
  </script>
  <body>
    <main class={styles.container}>
      <div class={contentContainerStyles}>
        <slot />
      </div>
      <!-- Footer -->
      <div class={styles.footer}>
        <p class={styles.footerText}>
          Built with Astro 🚀 and Vanilla Extract 🧁
        </p>
        <div class={sprinkles({ minHeight: "1x" })}></div>
        <p class={styles.footerText}>Hosted on Vercel ▲</p>
      </div>
    </main>
  </body>
</html>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Jost:wght@300&display=swap");
</style>
